/* Initial state (hidden) */
.fade-slide-top, .fade-slide-bottom, 
.fade-slide-left, .slide-left_2_right, .aboutUs-anime {
    opacity: 0;
    transform: translateY(20px); /* Adjust as needed */
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in  {
    opacity: 0;
    transition: opacity 0.6s ease;
}

.delay1 {
    transition-delay: .5s;
}
.delay2 {
    transition-delay: .6s;
}
.delay3 {
    transition-delay: .8s;
}
.delay4 {
    transition-delay: .9s;
}
.delay5 {
    transition-delay: 1s;
}

/* When in view */
.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Slide from top */
.fade-slide-top {
    transform: translateY(-30px);
}

/* Slide from bottom */
.fade-slide-bottom {
    transform: translateY(30px);
}

/* Slide from left */
.fade-slide-left {
    transform: translateX(-30px);
}

/* Slide from left to right */
.slide-left_2_right {
    transform: translateX(-50px);
}

/* Special animation for logo */
.logo-image {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.logo-image.visible {
    opacity: 1;
    transform: scale(1);
}
