/* @media screen and (max-width: 720px) {
    .darkframe h1 {
        padding-left: 1.5rem;
        padding-top: 0.5rem;
    }

    .tagline {
        width: 32.2rem;
        margin: auto;
    }

    .introdescribo {
        width: 32.2rem;
        margin: auto;
    }

    .tagline h3 {
        font-size: 5rem;
        text-align: center;
        line-height: 6rem;
        margin: 0.3rem;
    }

    .introdescribo p {
        font-size: 30px;
        text-align: center;
        line-height: 4.5rem;
        padding-top: .4rem;
    }
}

@media screen and (max-width: 590px) {
    .darkframe {
        padding: 2% 4%;
    }

    .darkframe h1 {
        padding-left: 1.5rem;
        padding-top: 0.5rem;
    }

    .tagline {
        width: 27.9rem;
        margin: auto;
    }

    .introdescribo {
        width: 28.1rem;
        margin: auto;
    }

    .tagline h3 {
        font-size: 5rem;
        text-align: center;
        line-height: 6rem;
        margin: 0.3rem;
    }

    .introdescribo p {
        font-size: 30px;
        text-align: center;
        line-height: 4.5rem;
        padding-top: .4rem;
    }

} */

@media screen and (max-width: 360px) and (min-resolution: 2dppx) {
    .darkframe {
        padding: 1% 2%;
    }

    .darkframe h1 {
        padding-left: 1.5rem;
        padding-top: 0.5rem;
    }

    .tagline {
        width: 22.0rem;
        margin: auto;
    }

    .introdescribo {
        width: 22.7rem;
        margin: auto;
    }

    .tagline h3 {
        font-size: 2.8rem;
        text-align: center;
        line-height: 3.6rem;
        margin: 0.3rem;
        padding-top: 2.3rem;
    }
    .introdescribo p {
        font-size: 14.7px;
        text-align: center;
        line-height: 3.0rem;
        padding-top: 1.0rem;
    }
}


